p:nth-child(3){color: green;}
p:nth-child(odd){color: red;}
p:nth-child(even){color: blue;}

*{color: blue;}
:not(.bucky){color: red;}

div > p {color: green;}
p.index + p {color: yellow;}
p.bucky ~ p{color: blue;}

