*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}
#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;/*wartość 1 jest elstyczna, wartość 0 stała */	
}
#top_header{
	background: yellow;
	border:3px solid black;
	padding: 20px;
}
#top_menu{
	border:red;
	background: blue;
	color:white;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: blod 14px Tahoma;
}
#new_div{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#main_section{
	border:1px solid blue;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
}
#side_news{
	border: 1px solid red;
	width: 220px;
	margin:20px 0px;
	padding: 30px;
	background: #66CCCC;
}
#the_footer{
	text-align: center;
	padding: 20px;

}
/*-webkit-box-orginal-group: 4;
-webkit-box-orginal-group: 5;
-webkit-box-orginal-group: 3;
-webkit-box-orginal-group: 1;
-webkit-box-orginal-group: 2;
ułożenie określonych pudełek pod względem jak mają wyglądać na stronie internetowej, łatwiejse i elastyczniejsze */
/* jeśli damy
-webkit-box-pack:center; wtedy zobczymy jak mamy ułożone pudełka */
/*-webkit-box-flex:1 dopasowane ułożenie pudełka*/
/* jeśli chcemy mieć ładne dopasowanie zaokrąglone boki to wtedy: piszemy
-webkit-border-radius:25px RADIUS powoduje zmiane rogów na bardziej zaakrąglone;*/
/*-webkit-box-shadow:rgb(110,110,110) 10px 10px 10px inset; dodanie słówka inset daje nam bardziej rozlany efekt.
/*rgb - red, green, blue
/*rgba - red, green, blue, alpha
/* alpha dajemy .4 i patrzymy lekkie odcienie danego kolorunp koloru obramowania.
/*
/* możemy użyć gradientu do odcienia dltego
używamy:
-webkit-linear-gradient(top/45deg,black,white);
-webkit-radial-gradient(center,circle, red 0%, orange 50%);



/* odnośnie tekstu też możemy sie bawić z cieniami:
dlatego możemy zrobić coś takiego:
#text{
	font:blod 30px Century Gothic;
	text-shadow:rgb(110,110,110) 3px 3px 5px;
;
}


/* jeśli chce się pobawićskalą i transformacją okreslonych przedmiotów to muszę zastosować takie cos:
-webkit-transform:scale(1.3);
rotacje:
-webkit-transform:rotate(45deg);
obracanie pod kątem:
-webkit-transform:skew(30deg);
przenoszenie jednego obrazku pod względem tego, czyy jest w praco, czy w lweo
-webkit-transform:translate(150px,300px);

-webkit-transform:translate(100px,100px) rotate(50px,50px) scale(.8);

ANIMACJE:
#box:hover{
-webkit-transform:rotate(45deg);

jeśli chcemy mieć animacje/przemieszczenie(transition) na ileś tam sekund wtedy przypisujemy do boxa głównego doodatoweo na ile chemy sekund
czyli
#box{
	display:block;
	width:500px
	margin:150px auto;
	padding:15px;
	text-algin:center;
	border:7px solid blue;
	background:yellow;
	-webkit-transition: -webkit-transform 1s;
}
#box:hover{
	-webkit-transform:rotate(45deg);
;}
/*orginalne wejście 
opacity: 0.6;